@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    background: #111;
    min-height: 100vh;
}
section .bannerVideo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .bannerVideo video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
section .bannerVideo video.active
{
    opacity: 1;
}
.container
{
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 56.5%;
    height: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.05);
}
.container header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.container header .logo
{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}
.container header ul
{
    position: relative;
    display: flex;
}
.container header ul li
{
    list-style: none;
    margin: 0 20px;
}
.container header ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 10px;
    color: #fff;
}
.container header ul li a:hover,
.container header ul li a.active
{
    background: #A020F0;
    color: #111;
}
.container .content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container .content .bannerText
{
    position: relative;
    max-width: 700px;
}
.container .content .bannerText div
{
    display: none;
    transition: 0.5s ease-in-out;
}
.container .content .bannerText div.active
{
    display: initial;
}
.container .content .bannerText div h2
{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}
.container .content .bannerText div p
{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}
.sci
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.sci li a:hover
{
    background: #A020F0;
}
.sci li a img
{
    display: inline-block;
    max-height: 24px;
}
.controls
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}
.controls li 
{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
}
.controls li:hover
{
    background: #A020F0;
}